test_cases/contents
test_cases/med_qa_FAISS_index
test_cases/test
test_cases/z-bench
__pycache__
finetune/AdvertiseGen
finetune/finetune_data
finetune/ChatGLM2-6B


.ipynb_checkpoints
.ipynb_checkpoints/*
